.input-field{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: var(--text-color);
    color: var(--text-color);
    transition:color 3s,  border-color 3s ease-in;
}
.input-field:focus{
    outline: none;
    border-color: var(--text-color);
    transition:color 3s,  border-color 3s ease-in;
}
.login-button{
    background-color: var(--button-background);
    color: var(--button-text-color);
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    transition:color 3s, background-color 3s ease-in;
    align-items: center;
}