

.sidebarButton {
  display:flex;
  width: 80%;
  padding: 10px;
  border: none;
  color:var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  margin-top: 8px;
  position: relative;
}
.badgeIcon{
  position: absolute;
  top: 0;
 right: 0;
padding: 0px 6px 0px 6px;
 border-radius: 50%;
 background-color: red;
 display:flex ;
 font-weight: 700;
}
.sidebarButton:hover {
  background-color: #333;
}

.activeButton {
  background-color: #c9c9c9;
  width: 80%;
  padding: 10px;
  border: none;
  color:var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  display: flex;
  position: relative;
}
.logo{
  width: 100%;
  padding: 10px 0px 0px 30px;
}
.logo a{
  font-size: 25px;
  color: var(--text-color);
  transition:color 3s ease-in;
  font-family: 'Orbitron', sans-serif;
}
.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  background-color:var(--background-color);
  color: #000;
  padding: 20px 0px 0px 60px;
  height: 100%;
  transition:color 3s, background-color 3s ease-in;
}

.profile{
  background-color: #b1afaf;
  width: 60%;
  padding: 17px;
  border: none;
  color:var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.sidebarprofile{
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 17px;
  border: none;
  color:var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  margin-top: 8px;
  background-color: rgba(192, 189, 189, 0.63);
}
.icon{
  font-size: 12px;
  margin-right: 10px;
}
.downButtont{
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--text-color);
  transition:color 3s, background-color 3s ease-in;
}
.button-t{
  width: 30%;
  display: flex;
  cursor: pointer;
}