/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: white;
  --text-color: rgb(0, 0, 0);
  --button-background: #000000;
  --button-text-color: #ffffff;
  --container-background: whitesmoke;
  --background-delete: #000000;
  --background-delete-color: #ffffff;
}

/* Dark Mode */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --button-background: #ffff;
  --button-text-color: #000000;
  --container-background: #333333;
  --background-delete: #ffffff;
  --background-delete-color: #00000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 2s ease-out; /* Adjust the transition duration */
}

/* Rest of your styles */

button {
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

h1, h2, h4, h5, h6 {
  color: var(--text-color);
 
}
h3{
  font-weight: 800;
  color: aqua;
  margin: 5px;
}
h2{
  
  font-weight: 700;
  font-size: 12px;
}
h1{
  font-size: 17px;
  font-weight: 700;
}
h5{
  font-size: 12px;
}
p{
  color: var(--text-color);
  
}
input:focus{
  outline: none;
}
input{
  background-color: var( --background-color);
}
select{
  background-color: var( --background-color)
}



.top-loader{
  width: 100%;
  background-color: white;
  height: 10vh;
}

