.create-container{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0px 10px;
    margin-bottom: 20px;
}
.blog-input{
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid var(--text-color);  
    color: var(--text-color);
    font-weight: 700;
    font-size: 20px;
    transition:color 3s, border-bottom 3s ease-in;
}
.blog-input::placeholder{
    font-size:15px;
    color: var( --text-color);
    transition:color  3s ease-in;
}
.cat-input{
   width: 40%;
   display: flex;
   align-items: center;
   color: var(--text-color);
   transition:color  3s ease-in;
}
.cat-input label{
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    color: var(--text-color);
    transition:color 3s ease-in;
}
.cat-input select{
    width: 50vh;
    outline: none;
    border-bottom: 1px solid var(--text-color);
    font-size: 15px;
    background-color: var(--background-color);
    transition:color 3s, background-color 3s ease-in;
}
.content{
  font-style: 14px;
}
.submit-button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 13px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    transition:color 3s, background-color 3s ease-in;
}
.submit-button:active{
    background-color: rgb(241, 89, 42);
}
.save-draft{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 13px;
    background-color: aqua;
}
.save-draft:active{
    background-color: rgb(16, 111, 128);
}
.button-box{
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: space-between;
  align-items: center;
}


/* Add or modify these styles in your create-blog.css */
.file-input {
    margin-top: 20px;
  }
  
  .file-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .file-label-info {
    font-size: 14px;
    color: #777;
  }
  
  .image-preview-container {
    margin-top: 10px;
  }
  
  .image-preview {
    width: 100%;
    max-width: 400px;
    margin: 10px 0px 10px 0px;
   
   
  }
  /* Customize the toolbar styles */
  .ql-toolbar.ql-snow{
  border: 1px solid #ccc;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 8px;
  color: var(--text-color);
  transition:color 3s, background-color 3s ease-in;
}
.ql-snow .ql-formats{
  color: var(--text-color);
  transition:color  3s ease-in;
}

/* Customize the button styles in the toolbar */
.ql-snow .ql-picker-label,
.ql-snow .ql-picker-options{
  color: var(--text-color);
  background-color: var(--background-color);
  transition:color 3s, background-color 3s ease-in;
}
.ql-snow.ql-toolbar button{
  color: var(--text-color);
  transition:color  3s ease-in;
}
/* Customize the content area styles */
.ql-editor {
  font-size: 14px;
  color: var(--text-color);
  transition:color  3s ease-in;
}


input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
  margin-left: 2vh;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.image-container{
  width: 100vh;
  height: 60vh;
  margin: 5vh 0vh 5vh 0vh;
}